! X colors.

#define S_base0         #161616
#define S_base1         #f9f9f9
#define S_base2         #fb0007

*background:            S_base0
*.background:           S_base0
*fadeColor:             S_base0
*foreground:            S_base1
*.foreground:           S_base1
*cursorColor:           S_base2
*.cursorColor:          S_base2

!
! Black
*.color0:      #121212
*.color8:      #838383
!
! Red
*.color1:      #fa2934
*.color9:      #f6669d
!
! Green
*.color2:      #98e123
*.color10:     #b1e05f
!
! Yellow
*.color3:      #fff30a
*.color11:     #fff26d
!
! Blue
*.color4:      #0443ff
*.color12:     #0443ff
!
! Magenta
*.color5:      #f800f8
*.color13:     #f200f6
!
! Cyan
*.color6:      #01b6ed
*.color14:     #51ceff
!
! White
*.color7:      #ffffff
*.color15:     #ffffff
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:

! Xclock colors.
XClock*background:  S_base0
XClock*foreground:  S_base1
XClock*majorColor:  rgba:d7/d2/ce/ff
XClock*minorColor:  rgba:d7/d2/ce/ff
XClock*hourColor:   rgba:d7/d2/ce/ff
XClock*minuteColor: rgba:d7/d2/ce/ff
XClock*secondColor: rgba:d7/d2/ce/ff

! ------------------------------------------------------------------------------
! Font configuration
! ------------------------------------------------------------------------------

URxvt.allow_bold:     true
URxvt*font:           xft:source code pro for powerline:regular:pixelsize=13
URxvt*imFont:         xft:source code pro for powerline:regular:pixelsize=13
URxvt*boldFont:       xft:source code pro for powerline:semibold:pixelsize=13
URxvt*italicFont:     xft:source code pro for powerline:italic:pixelsize=13
URxvt*boldItalicFont: xft:source code pro for powerline:semibold:italic:pixelsize=13

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

! font spacing
URxvt*letterSpace:              -1
URxvt.lineSpace:                0

! general settings
URxvt*saveline:                 15000
URxvt*termName:                 rxvt-256color
URxvt*iso14755:                 false
URxvt*urgentOnBell:             true

! appearance
URxvt*depth:                    32
URxvt*scrollBar:                false
URxvt*scrollBar_right:          false
URxvt*internalBorder:           8
URxvt*externalBorder:           0
URxvt.geometry:                 84x22

! perl extensions
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select

! macros for clipboard and selection
URxvt.copyCommand:              xclip -i -selection clipboard
URxvt.pasteCommand:             xclip -o -selection clipboard
URxvt.keysym.M-c:               perl:clipboard:copy
URxvt.keysym.M-v:               perl:clipboard:paste
URxvt.keysym.M-C-v:             perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:          perl:keyboard-select:activate
URxvt.keysym.M-s:               perl:keyboard-select:search
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.urlLauncher:              firefox
URxvt.underlineURLs:            true
URxvt.urlButton:                1

! scroll one line
URxvt.keysym.Shift-Up:          command:\033]720;1\007
URxvt.keysym.Shift-Down:        command:\033]721;1\007

! control arrow
URxvt.keysym.Control-Up:        \033[1;5A
URxvt.keysym.Control-Down:      \033[1;5B
URxvt.keysym.Control-Right:     \033[1;5C
URxvt.keysym.Control-Left:      \033[1;5D

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:            #d7d2ce
dmenu.background:               #d7d2ce
dmenu.selbackground:            #EAAD79
dmenu.foreground:               #03142C
